.partnerCard {
    border: none;
    border-radius: 0%;
}

.partner-avatar {
    max-width: 130px;
    max-height: auto;
    object-fit: cover;
    cursor: pointer;
    margin: 7px;
    filter: grayscale();
}

.partner-avatar:hover {
    filter: none
}