.hero-img {
    max-height: 800px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.header-message {
    padding: 60px 60px 60px 60px;
    background-color: #F5BFC3;
    text-align: center;
}

.header-message-title {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: #474747;
    font-family: 'Oswald', sans-serif;
}