.hero-img {
    position: relative;
    height: 800px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.arrow-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    height: 60px;
    width: 40px;
    color: white
}

.header-message {
    padding: 170px 200px 200px 200px;
    background-color: #F5BFC3;
    text-align: center;
}

.header-message-title {
    font-size: 10.5em;
    color: #474747;
    font-family: 'Oswald', sans-serif;
}

.header-message-body {
    font-size: 34px;
    color: #474747;
    font-family: 'Oswald', sans-serif;
}

@media (max-width: 991px) {
    .header-message-title {
        font-size: 3.5em;
    }

    .header-message-body {
        font-size: 20px;
        color: #474747;
        font-family: 'Oswald', sans-serif;
    }

    .header-message {
        padding: 150px 60px 150px 60px;
        background-color: #F5BFC3;
        text-align: center;
    }

    .hero-img {
        height: 700px;
    }

    .arrow-icon {
        top: 45%;
        left: 50%;
    }
}