:root {
    --mamachama-team-color: #8F363C;
    --collaborator-color: #F5BFC3;
    --partner-color: #C27076;
}

.profile-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
}

.profile-avatar {
    text-align: center;
    margin-bottom: 20px;
}

.profile-avatar img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ffffff;
    box-shadow: 0 0 0 4px var(--mamachama-team-color)
}

.profile-avatar.mamachama img {
    box-shadow: 0 0 0 4px var(--mamachama-team-color)
}

.profile-avatar.collaborator img {
    box-shadow: 0 0 0 4px var(--collaborator-color)
}

.profile-avatar.partner img {
    box-shadow: 0 0 0 4px var(--partner-color)
}

.profile-title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
    text-align: center;
}

.profile-description {
    font-size: 16px;
    color: #666666;
    text-align: center;
    margin-bottom: 20px;
}

.profile-info {
    font-size: 14px;
    color: #888888;
    margin-bottom: 5px;
    text-align: center;
}

.profile-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.profile-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #afb9c4;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-button:hover {
    background-color: #C27076;
}

@media (max-width: 767px) {


    .profile-actions {
        flex-wrap: wrap;
    }

    .profile-button {
        flex: 1 0 45%;
        margin: 5px;
    }
}