 .user-list-card {
     border: none;
     position: relative;
     overflow: hidden;
 }


 .user-list-images {
     position: relative;
     display: grid;
     width: 100%;
     justify-content: center;
     object-fit: cover;
     align-items: center;
 }

 .user-avatar {
     transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
     object-fit: cover;
     height: 120px;
     width: 120px;
     border-radius: 50%;

 }

 .user-list-images:hover .user-avatar {
     filter: grayscale(100%);
     cursor: pointer;
     opacity: 0.3;
 }

 .edit-icon,
 .delete-icon {
     font-size: 24px;
     transform: translate(-50%, -50%);
     opacity: 0;
     transition: opacity 0.3s ease-in-out;
 }

 .edit-icon {
     position: absolute;
     top: 50%;
     left: 27%;
 }

 .delete-icon {
     position: absolute;
     top: 50%;
     left: 50%;
 }

 .user-list-images:hover .edit-icon,
 .user-list-images:hover .delete-icon {
     opacity: 1;
     cursor: pointer;
 }