 .Footer {
     background-color: #5c1116;
     padding-bottom: 30px;
     color: #fff;
     font-size: 15px;
 }

 .Footer a {
     color: #fff;
     text-decoration: none;
 }

 .Footer a:hover {
     color: #d6b0b7;
 }

 .footer-container {
     max-width: 900px;
     align-items: center;
     justify-content: center;
     text-align: center;
 }

 .footer-title {
     text-decoration: none;
     margin-top: 30px;
     text-transform: uppercase;
     align-items: flex-start;
     text-align: left;
     color: #d6b0b7;
     font-family: 'Oswald', sans-serif;
     font-size: 17px;
     font-weight: 600;
 }

 .footer-links {
     align-items: flex-start;
     text-align: left;
 }

 @media (max-width: 991px) {
     .footer-container {
         align-items: flex-start;
         text-align: left;
         padding-left: 30px;
         font-size: 13px;
     }

     .footer-title {
         justify-content: start;
         align-items: flex-start;
         justify-items: left;
         font-size: 16px;
         font-weight: 500px;
     }
 }

 .footer-extra-links {
     font-size: 12px;
     display: inline;
     align-items: start;
 }

 .footer-copy {
     margin-top: 20px;
     font-size: 13px;
     text-align: left;
     color: #ffffff;
     font-weight: 600;
 }