.Team {
    padding-bottom: 70px;
}

.user-card-component {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-card-col {
    justify-content: center;
    display: inline-block;
    justify-items: center;
    margin: 40px;
}