/* .Team {
    padding-bottom: 70px;
} */

.user-card-component {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-card-col {
    display: inline-block;
    justify-items: center;
    margin: 40px;
}

.collaborators-section {
    background-color: #c270755d;
}

.collaborators-container {
    max-width: 1100px;
    padding-top: 50px;
    padding-bottom: 70px;
}

.collaborator-card-col {
    display: flex;
    justify-content: center;
}

.collaborators-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    color: #947C80;
}

.collaborators-body {
    padding: 30px;
}

.collaborator-card-component {
    text-align: center;
}