/* .Team {
    padding-bottom: 70px;
} */

.user-card-component {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-card-col {
    display: inline-block;
    justify-items: center;
    margin: 40px;
}

.collaborators-section {
    background-color: #c270755d;
}

.collaborators-container {
    max-width: 980px;
    padding-top: 80px;
    padding-bottom: 70px;
}

.collaborator-card-col {
    display: flex;
    justify-content: center;
}

.collaborators-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 106px;
    color: #947C80;
}

.collaborators-body {
    padding: 30px;
}

.collaborator-card-component {
    text-align: center;
}

.partner-section {
    background-color: white
}

.partner-container {
    max-width: 991px;
    padding-top: 50px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
}

.partner-row {
    display: flex;
    align-items: center;
}

.partner-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 56px;
}

.partner-card-component {
    display: flex;
    align-items: center;
    justify-content: start;
}

@media (max-width: 991px) {
    .collaborators-title {
        font-size: 46px;
        text-align: left;
        padding-left: 20px;
    }

    .partner-title {
        font-size: 46px;
        text-align: left;
        padding-left: 20px;
        margin-bottom: 40px;
    }

    .partner-card-component {
        justify-content: center;
        align-items: center;
        display: flex;
    }
}