 .about-card-row {
     display: flex;
     justify-content: center;
     justify-items: center;
     align-items: center;
     margin-bottom: 40px;
 }

 .about-cards {
     padding: 60px;
 }

 .about-card-title {
     color: #474747;
     font-family: 'Roboto Condensed',
         sans-serif;
     font-size: 60px;
     line-height: 0.9;
 }

 .about-cards img {
     width: 300px;
     height: auto;
     text-align: center;
 }

 .about-card-img-col {
     text-align: center;
 }


 @media (max-width: 767px) {

     .about-cards {
         padding: 30px;
     }

     .about-card-title {
         font-weight: bold;
         font-size: 26px;
     }

     .about-subtitle {
         margin-bottom: 45px;
     }

     .about-card-row {
         margin-bottom: 50px;
     }

     .about-cards img {
         width: 200px;
         height: auto;
     }

     .reverse-row {
         flex-direction: row;
     }

     .reverse-img {
         order: 2;
     }

     .reverse-txt {
         order: 1;
     }
 }