.App {
  font-family: sans-serif;
}

body {
  background-color: rgba(239, 239, 239, 1);
  margin-top: 70px;
}

h1 {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  color: #474747;
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: #5C1116;
}

a:hover {
  color: #8F363C
}

.page-title {
  background-color: #C27076
}

.page-title-text {
  padding: 20px;
  font-size: 30px;
  color: white;
  margin-left: 30px;
}



/* 
COLOR PALETTE
- Dark (footer, links, nav): #5C1116
- Mid: #8F363C
- Light (page title background): #C27076
- Lighter : #F5BFC3
- Grey: #888
- Background color: rgba(239, 239, 239, 1)
- h1 (titles): #474747;
 */